.nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  background-color: #fff;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.nav a:hover {
  background-color: #343a40;
  color: #fff;
}

.nav a.active {
  background-color: #868e96;
  color: #fff;
}

@media (max-width: 62.5em) {
  .nav a {
    font-size: 1.2rem;
  }
}

@media (max-width: 42.5em) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 31.25em) {
  .nav {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
