.terms {
  max-width: 80rem;
  margin: auto;
}

.content {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #fff;
}

.content p {
  font-size: 1.4rem;
}
