.footer {
  margin: auto;
  padding: 1rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.copyright {
  text-align: center;
}

.copyright p {
  font-size: 1.4rem;
  width: 100%;
}

.icon {
  width: 3rem;
  height: 3rem;
}
