.header {
  margin: auto;
  height: 8rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  margin-bottom: 6rem;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 200;
}

.logo {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
  padding: 2.2rem 1rem;
  transition: all 500ms;
}

.logo:hover {
  background-color: #343a40;
  color: #fff;
}

.nav-container {
  transition: all 1s;
}

.menu-icon {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  display: none;
}

.toggle-nav {
  opacity: 1;
}

@media (max-width: 43.75em) {
  .logo {
    font-size: 1.6rem;
    padding: 2.8rem 1rem;
  }
}

@media (max-width: 39.5em) {
  .menu-icon {
    display: block;
  }

  .toggle-nav {
    opacity: 0;
    pointer-events: none;
  }
}
