.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2.96rem 4rem;
  color: black;
  transition: all 500ms;
  position: relative;
}

.nav a:hover {
  background-color: #343a40;
  color: #fff;
}

.nav a.active {
  background-color: #868e96;
  color: #fff;
}

.currency {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 72.8em) {
  .nav a {
    font-size: 1.4rem;
    padding: 2.96rem 2rem;
  }
}

@media (max-width: 53.7em) {
  .nav {
    flex-direction: column;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    background-color: #f1f3f5;
    padding: 2rem 0;
  }

  .nav a {
    font-size: 1.4rem;
    padding: 1rem 3rem;
    width: 100%;
    text-align: center;
  }

  .currency {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0 auto 40%;
  }
}

@media (max-width: 46.1em) {
  .currency {
    margin: auto 0 auto 35%;
  }
}

@media (max-width: 46.1em) {
  .currency {
    margin: auto 0 auto 25%;
  }
}
